@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese');

body{
  font-family: 'Quicksand', sans-serif;
  font-size:19px;
    }
.container{
   margin-left: 20px;
    display:flex;  justify-content: space-around;
}

.container-1{
justify-content: flex-start;
display: flex;
flex-direction:column;
  }

.lable_image{
  position:relative;
  left:30px;
  top:30px;
  margin:0 30px 30px 0;
}

.lable_image img{
  width:64px;
  height:64px;

}
.color-square{
  float: left;
 border-radius:5px;
 width:70px;
 height:70px;
}

.color_title, .color_body{
  position: relative;
 margin-left:90px;
 top:10px;
  text-align:left;
}
.color_title{
  font-weight: bold;
}

.color-square_dark-shade100{
  background-color: #1F2041;
  opacity: 1;
}

.color-square_dark-shade75{
  background-color: #1F2041;
  opacity: 0.75;
}

.color-square_dark-shade50{
  background-color: #1F2041;
  opacity: 0.50;
}

.color-square_dark-shade25{
  background-color: #1F2041;
  opacity: 0.25;
}

.color-square_dark-shade5{
  background-color: #1F2041;
  opacity: 0.05;
}

.color-square_purple{
  background-color: #BC9CFF;
}

.color-square_green{
  background-color: #6FCF97;
}

.container-2{
justify-content: flex-start;
display: flex;
flex-direction:column;
  }

.conteiner-1_row{
  vertical-align: middle;

  margin:10px;
  height: 70px;
  }

.conteiner-2_row{
  width:400px;
  display: flex;
  justify-content:flex-start;
  vertical-align: middle;
  margin:10px;
  height: 70px;
  }

  .container-2_row_description{
    margin-right: 20px;
    opacity: 0.3;
  }

.container-2_row_text{
  font-weight: bold;
}

.container-2_row_h1{
font-size: 24px;
}

.container-2_row_h2{
font-size: 19px;
}

.container-2_row_h3{
font-size: 12px;
text-transform: uppercase;
}

.container-2_row_body{
font-size: 14px;
font-weight: normal;

}
