@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese');

body{
  font-family: 'Quicksand', sans-serif;
  font-size:19px;
}

.container{
left:500px;
position:absolute;
justify-content: center;
display: flex;
flex-direction:column;
  }

.conteiner_row{

  vertical-align: middle;
  margin:10px;
  width:300px;
  height: 70px;
  }

.color-square{
  float: left;
 border-radius:5px;
 width:70px;
 height:70px;
}

.color_title, .color_body{
  position: relative;
 margin-left:90px;
 top:10px;
  text-align:left;

}
.color_title{

  font-weight: bold;
}

.color-square_dark-shade100{
  background-color: #1F2041;
  opacity: 1;
}

.color-square_dark-shade75{
  background-color: #1F2041;
  opacity: 0.75;
}

.color-square_dark-shade50{
  background-color: #1F2041;
  opacity: 0.50;
}

.color-square_dark-shade25{
  background-color: #1F2041;
  opacity: 0.25;
}

.color-square_dark-shade5{
  background-color: #1F2041;
  opacity: 0.05;
}

.color-square-purple{
  background-color: #BC9CFF;

}

.color-square-green{
  background-color: #6FCF97;

}
