@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  background-color: #E5E5E5;
  color: #1F2041;
  font-weight: bold;
}

select{

  -webkit-appearance:none;
  	-moz-appearance:none;
  	-ms-appearance:none;
  	background:url('../src/expand_more.png');
  	background-repeat:no-repeat;
  	background-size:15px 10px;
  	background-position:97% 50%;
  }

.header{
  margin: 10px;
  margin-bottom:50px;

  width:100%;
  display: flex;
  justify-content: flex-start;
  }

  .lable_image{
    display: flex;
  }

.container{
  flex-wrap: wrap;
  width: 1400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /*justify-content: space-around;*/
}

.form{
  margin:10px auto;
  width: 350px;
  height: auto;
  display: flex;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 30px;
  background-color:white ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.form-1_h1{
  display: flex;
font-family: 'Quicksand', sans-serif;
font-size: 24px;
text-transform: inherit;
}

.form-1_dates{
  width: 100%;
line-height: 25px;
text-transform: uppercase;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 20px;
}

.form-1_dates input{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border:1px solid #E5E5E5;

}

.form-1_input-guests{
line-height: 25px;
text-transform: uppercase;
width: 100%;
margin-bottom: 20px;
}


.form-1_input-guests select{
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border:1px solid #E5E5E5;
  width: 100%;
  height: 35px;
  border-radius: 3px;

}

.form-1_button{
  border-radius: 20px;
  height:40px;
  border:none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-weight:bold;
  background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.form-2{
  flex-direction: row;
  flex-wrap: wrap;
  align-content:space-around;

}

.form-2_h1{
  align-items: baseline;
  line-height: 36px;
  width: 100%;
  margin:10px 0;
  font-size:14px;
  display:flex;
  justify-content: space-around;

}
.form-2_number_N{
  vertical-align:middle;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.form-2_number{
  display:flex;
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
}

.form-2_lux{

  font-family: 'Montserrat', sans-serif;
  color: #BC9CFF;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align:middle;
}

.form-2_prise{
margin-left: auto;
display:flex;
color:rgba(31, 32, 65, 0.5);
text-align: right;
font-size: 14px;
}
.form-2_prise_unb{
  font-weight:lighter;
}

.form-2_dates{
  width: 100%;
line-height: 25px;
text-transform: uppercase;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 20px;
}

.form-2_dates input{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border:1px solid #E5E5E5;
  width: auto;
  height: 35px;
  border-radius: 3px;
}

.form-2_input-guests{
width:100%;
line-height: 25px;
text-transform: uppercase;
margin-bottom: 20px;
}


.form-2_input-guests select{
  -webkit-appearance:none;
  	-moz-appearance:none;
  	-ms-appearance:none;
  	background:url('../src/expand_more.png');
  	background-repeat:no-repeat;
  	background-size:15px 10px;
  	background-position:97% 50%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border:1px solid #E5E5E5;
  width: 100%;
  height: 35px;
  border-radius: 3px;
}

.form-2_summ, .form-2_sbor, .form-2_sbordop{
  width: 100%;
  margin:10px 0;
  font-size:14px;
  color:rgba(31, 32, 65, 0.5);
  display:flex;
  justify-content: flex-start;
}

.form-2_summ-x, .form-2_sbor-discription, .form-2_sbor-value,
.form-2_sbordop-discription, .form-2_sbordop-value{

  text-align: left;
}
.form-2_sbor-inf, .form-2_sbordop-inf{
  position: relative;
  top:-2px;
  left: 2px;
  width:20px;
  height:20px;
  border:1px solid rgba(31, 32, 65, 0.5);
  border-radius: 50%;
  text-align: center;
}

.form-2_summ-prise, .form-2_sbor-prise, .form-2_sbordop-prise {

  margin-left: auto;
  text-align: right;
}

.form-2_itogo{
  margin:20px 0;
  width: 100%;
  font-size:18px;
  display:flex;
  justify-content: space-between;

}

.form-2_itogo-dot{
border-bottom: 0.1em dotted rgba(31, 32, 65, 0.5);
  width:100%;
}
.form-2_button{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  line-height: 30px;
  text-align: center;
  /*vertical-align: middle;*/
  width:90%;
  border-radius: 20px;
  height:30px;
  border:none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-weight:bold;
  background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.form-2_button img{
  align-self: center;
}

.calendar{
  font-weight: normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.days-of-week, .week{

  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;

}

.day-of-week{
color: rgba(31, 32, 65, 0.5);
border-radius: 50%;
display:flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;}


.day{
  color: rgba(31, 32, 65, 0.5);
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

}

.day:hover{
  color: white;
  background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);*/
  /*width: 50px;
  height: 50px;*/
}


.day-of-week{
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #BC9CFF;
  text-transform: capitalize;
  font-weight: bold;

}

.checked{
  background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.mchecked{
  background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.5;
  border-radius: 0;
}

.grey{
  color:rgba(31, 32, 65, 0.25);
  background: white;
}

.grey:hover{
  background: white;
  color:rgba(31, 32, 65, 0.25);
}

.startchecked{
  border-radius: 50% 0 0 50%;
}

.finishchecked{
  border-radius: 0 50% 50% 0 ;
}

.list{
  position: absolute;
  top:50px;
  left:150px;
  text-align: center;
  margin:auto;
  background-color: pink;
  opacity: 0.7;
  width: 700px;
  height: 500px;
  font-size: 60px;
}

.hidden{
  display:none;
}

.close{
  line-height: 50px;
  background-color: red;
  width: 50px;
  height: 50px;
  position:absolute;
  right:10px;
  top:10px;
  font-size: 20px;
}

.calendar_header{


  display:flex;
}

.prev_mouth{
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.12);
  width: 40px;
  height: 40px;

  margin-right: auto;
}

.next_mouth{
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.12);
  width: 40px;
  height: 40px;
  margin-left: auto;
}
.mouth_name{

 line-height: 40px;
 font-weight: bold;

 font-family: 'Montserrat', sans-serif;

 font-size: 24px;
 }

.slider{

  display: flex;
  width: 100%;
  height:50px;
  border:1px solid black;
}
.scale{
  position: relative;
  background-image: url(src/chart-scale.jpg);
  width: 100%;
  height: 100px;
}

.point{
  top:58px;
  position: relative;
  width: 30px;
  height: 30px;
  background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius:50px;
}

.point_value{
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  top:25px;
  position: absolute;
  width: 50px;
  height: 30px;
  background:pink;
  border-radius:50px;

}
