@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  background-color: #E5E5E5;
  color: #1F2041;
  font-weight: bold;
}

.container{
  width: 380px;
  display: flex;
  flex-wrap: wrap;
}

.container-1{
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 30px;
  background-color:white ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.container-1 p{
font-family: 'Quicksand', sans-serif;
font-size: 24px;
text-transform: inherit;
}

.container-1_dates{
line-height: 25px;
text-transform: uppercase;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 20px;
}

.container-1_dates input{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border:1px solid #E5E5E5;
  width: auto;
  height: 35px;
  border-radius: 3px;
}

.container-1_input-guests{
line-height: 25px;
text-transform: uppercase;

margin-bottom: 20px;
}


.container-1_input-guests select{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border:1px solid #E5E5E5;
  width: 100%;
  height: 35px;
  border-radius: 3px;
}

.container-1_button{
  border-radius: 20px;
  height:40px;
  border:none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
